<div class="post">
    <header class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">To main page</button>
    </header>

    <div class="info">
        <strong>Author</strong>
        <small>12.09.2019</small>
    </div>

    <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime delectus adipisci culpa, illo officia qui pariatur nostrum, iusto ullam soluta, mollitia quidem. Ipsam vero, magni facilis magnam molestiae necessitatibus sed nobis quasi omnis tenetur beatae doloribus qui minima deleniti. Labore.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime delectus adipisci culpa, illo officia qui pariatur nostrum, iusto ullam soluta, mollitia quidem. Ipsam vero, magni facilis magnam molestiae necessitatibus sed nobis quasi omnis tenetur beatae doloribus qui minima deleniti. Labore.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime delectus adipisci culpa, illo officia qui pariatur nostrum, iusto ullam soluta, mollitia quidem. Ipsam vero, magni facilis magnam molestiae necessitatibus sed nobis quasi omnis tenetur beatae doloribus qui minima deleniti. Labore.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime delectus adipisci culpa, illo officia qui pariatur nostrum, iusto ullam soluta, mollitia quidem. Ipsam vero, magni facilis magnam molestiae necessitatibus sed nobis quasi omnis tenetur beatae doloribus qui minima deleniti. Labore.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime delectus adipisci culpa, illo officia qui pariatur nostrum, iusto ullam soluta, mollitia quidem. Ipsam vero, magni facilis magnam molestiae necessitatibus sed nobis quasi omnis tenetur beatae doloribus qui minima deleniti. Labore.</p>
    </div>
</div>